<h1>Zhikai Li's Rails App Exercise</h1>

<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<%= link_to "猛击我!有惊喜", '#', :class => "signup_button round" %>
