<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "空间", '#' %></li>
      <li><a href="http://weibo.com/prettyhugedick">微博</a></li>
    </ul>
  </nav>
</footer>
